data/raw/*.csv
data/raw/*.json
data/interim/*.csv
data/interim/*.json
data/production/*.csv
data/production/*.json
data/production/daily_batches/*.csv
data/production/daily_batches/*.json
data/production/archived/*.csv
data/production/archived/*.json
data/processed*.csv
data/processed/*.json

logs/*.log

.DS_Store

#saved_models/*.pkl
__pycache__/
.pytest_cache/
mlruns/
mlflow.db
mlflow.db.backup
*.log
venv/
.env
.ruff_cache
.mypy_cache
catboost_info/